<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- Подключение стиля -->
    <style>
      body {
        background-color: #f5f5f5; /* Светлый серый фон */
        font-family: Georgia, serif; /* Шрифт с засечками */
        color: #333; /* Темный текст */
        line-height: 1.6; /* Межстрочное расстояние */
        margin: 0;
        padding: 20px;
      }
      
      h1, h2, h3, h4, h5, h6 {
        color: #222; /* Более тёмный оттенок заголовков */
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>